@window-bg: rgba(0, 0, 0, 0.7);
@window-border-pri: rgb(127, 127, 127);
@window-border-sec: rgb(92, 92, 92);
@window-header-bg: rgb(0, 0, 52);
@window-color: rgb(255, 255, 255);
@window-highlight: rgb(48, 48, 48);
@window-selected: rgb(64, 64, 128);

@window-font: "courier new", courier, monospace;

.window {
  position: absolute;
  background: @window-bg;
  border: 2px solid @window-border-pri;
  padding: 8px;
  resize: both;
  color: @window-color;
  font-family: @window-font;
  font-size: 9pt;

  .title {
    margin: 0;
    font-weight: bold;
  }
}

.draggable {
  cursor: move;
}

.dragging {
  border-color: lighten(@window-border-pri, 25%);
  background-color: lighten(@window-bg, 10%);
}

.focus {
  border-color: lighten(@window-border-pri, 25%);
}

.spinner {
  background: rgba(0, 0, 0, 0.8) url('/assets/spinner.gif') right center no-repeat;
  padding: 4px 42px 4px 4px;
}

// container window styles
div.container {
  overflow: auto;
}

.container {
  &.grid {
    padding: 4px;
  }
  cursor: default;
  width: 360px;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border: 1px solid @window-border-sec;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  th {
    background-color: @window-header-bg;
    border-bottom: 1px dotted @window-border-sec;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    padding: 4px 8px;
  }

  tr {
    cursor: pointer;

    &:hover {
      background-color: @window-highlight;
    }

    &.selected {
      background-color: @window-selected;
    }
  }

  td {
    padding: 4px 8px;
    white-space: nowrap;

    border-right: 1px dotted @window-border-sec;
    &:last-child {
      border-right: none;
    }

    &.item-name {
      width: 100%;
      white-space: normal;
    }
    &.item-quantity,
    &.item-volume,
    &.item-weight {
      text-align: right;
    }
  }

  div.container-item {
    float: left;
    text-align: center;
    height: 112px;
    width: 84px;

    .item-icon {
      height: 48px;
      width: 48px;
      background: no-repeat center;
      background-size: 48px 48px;
      margin: auto;
      border: 2px solid transparent;
      position: relative;
    }

    .item-quantity {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: rgb(92, 92, 92);
      font-weight: bold;
    }

    .item-name {
      display: inline-block;
      padding: 2px 8px;
      margin-top: 4px;
    }

    &.selected {
      span {
        background-color: @window-selected;
      }
      .item-icon {
        border: 2px solid lighten(@window-selected, 20%);
        background-color: @window-selected;
      }
      span.item-quantity {
        background-color: lighten(@window-selected, 20%);
      }
    }
  }

  .container-item {
    cursor: pointer;
  }

  .container-item:hover {
    span,
    .item-icon {
      background-color: @window-highlight;
    }
    span.item-quantity {
      background-color: lighten(@window-highlight, 20%);
    }
  }
}